.header {
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0 auto;
}

.header h1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
}

